@{
    ViewData["Title"] = "Privacy Policy";
}


<div style="background-image: url('@Url.Content("~/images/home2.jpg")'); background-position: center; background-size: cover; background-repeat: no-repeat; width: 100%; padding: 95px; color: black;">

    <h2 style="text-align: center; color: navy; font-size: 4rem; margin-top: -40px;">Upcoming Services</h2>
    <h2 style="text-align: center; color: white; font-size: 2.3rem; margin-top: 70px;">We will update soon</h2>
    
</div>